# Byte-compiled / cache
__pycache__/
*.py[cod]

# Pytest cache
.pytest_cache/

# Virtual environments
.todolist_env/
venv/
env/
.venv/

# Distribution / packaging
*.egg-info/
dist/
build/

# Environment files
.env

# Editor directories
.vscode/

# Mac
.DS_Store
